<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAcWAAAAJGU0MTZkOGVmLWI2ZGMtNGRjZC1hYWNhLTkxNWI1ODNjN2QwMw.jpg" alt="Vik Headshot" align="left" style = "padding-right:20px">
<h3>Hey, thanks for checking out my site! </h3>
<p> I'm Vikram Mohan, a senior at USC studying Economics and Computer Programming. Like lots of college students, I often find myself pressed for cash on things such as clothes, accessories and electronics.
 Over the years, I've developed a passion and skill for scouring the web for the best deals around, and I hope to share this passion
 with you all through this site. Hope you enjoy!</p>
